/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap|Exo:');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Exo", sans-serif;
    color: #ee1cee;

}

html, body {
 width: auto;
 overflow-x: hidden;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
}

/*-- nav --*/

.fixed-top {
    padding-top:0;
    padding-bottom: 0;
}

i.fa.fas.fa-bars {
    font-size: xx-large;
    color: #7777;
}
.nav-link.current {
    color:#a526a5;
}

a.nav-link{
    color:#ee1cee;
    font-size: 18px;
}
nav.container-fluid.navbar.bg-dark.navbar-expand-sm.fixed-top {
    padding-bottom: 2px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 500;
    color:#ee1cee;
}

/*-- nav --*/
/*-- footer --*/
.footer {
    padding-top: 45px;
    padding-bottom: 50px;
}

.footer-container {
    text-align: center;
    font-size: 0;
}

h5{
    font-size: 13px;
}

.social{
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.social i {
    font-size: 150%;
    color:beige; 
}

.social-links {
    font-size: 12px;
    margin-bottom: 0;
}

h6{
    font-size: 10px;
    color: beige;
}
h4{
    font-size:17px;
    color:beige;
    padding-bottom: 10px;
}
/*-- footer --*/
/*-- Call Out--*/

.container-wrapper {
    background-color: #ee1cee0d;
}

.container-wrapper--pink {
    background-color: #ee1cee;
    color:white;
    padding-top: 65px;
    padding-bottom: 30px;
}

.hero-image {
    height: 130vh;
  
    background: url("/images/hero 3.jpg") no-repeat center center; 
    background-size: cover;
    padding-bottom: 150px;
    margin-top: 65px;
    padding-top: 20px;
}

.jumbotron{
    background-color: transparent;
}

.callout.jumbotron.text-center{
    margin-top: 100px;
}

.jumbotron-header{
    color: #ee1cee;
    font-size: 40px;;
    margin-top: 100px;
    padding-bottom: 20px;
    text-shadow: 2px 2px #000;
}

#burn {
    font-size: 100px;
    font-weight: 600;
    -webkit-transform: scaleY(1.9);
        -ms-transform: scaleY(1.9);
            transform: scaleY(1.9);
    color: beige;
    text-shadow: 2px 2px #000;
}

.jumbotron .lead{
    margin:  0;
    color:  #87f9ff;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 30px;
}

#callout1 {
    text-shadow: 2px 2px #000;
}

#callout2 {
    text-shadow: 2px 2px #000;
}

#cost {
    color: #0efd45;
    font-size: 35px;
    text-shadow: 2px 2px #000;
}

mark {
    background-color: #0efd45;
}
.btn--pink {
    background-color: #ee1cee;
    border-color: #000; 
    color:#fff;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    background-color:#ca13ca;
    border-color: #000; 
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn.btn-lg.btn--pink.btn--cta {
    margin-top: 15px;
}
/*-- Call Out --*/
/*-- About Us --*/
.about-us-img {
    background-image:url("/images/1aboutus 5.jpg");
    object-fit: contain;    
   -webkit-background-size: cover;     
   -moz-background-size: cover;    
   -o-background-size: contain;    
   background-size: cover;
   background-position:center;            
   flex: 1;     
}

hr#top-aboutus {
    display: none
}

.container-wrapper-aboutus {
    margin-top: -60px;
    margin-bottom: -45px;
}

.mission-statment {
    font-weight: bold;
}
.container our-mission {
    height: 100vh;
 
}
.programs-container h3 {
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    color:white;
 }

.prograns{
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.programs-header{
    padding-bottom: 30px;
}



.container-rapper-aboutus{
    margin-top: 100px;
    margin-bottom: -25px;
}

.container-fluid.aboutus-image {
    margin-top: -170px;
   
}

.container.our-mission {
    padding-top: 300px;
    padding-bottom: 50px;;
    text-align: center;
    color: #000;
    font-size: 15px;
}

#top-aboutus {
    border: 0; 
    height:5px;
    clear:both;
    display: block;
    width: 6%;
    background-color: #ee1cee;
    margin: auto;
    margin-top: 30px;
}

h2.mission-header {
    color: #ee1cee;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    text-shadow: 2px 2px #000;
   
  
}

.exprogram-img {
    background-image:url("/images/program.jpg");
    object-fit: contain;    
   -webkit-background-size: cover;     
   -moz-background-size: cover;    
   -o-background-size: contain;    
   background-size: cover;
   background-position:center;            
   flex: 1;     
}

#workout-header {
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    text-shadow: 2px 2px #000;
}
h5.program {
    font-size: 20px;
}

.fas fa fas fa-heartbeat d-none d-sm-inline {
    font-size: 20px; 
}
i {
    display: none;
}

#first-program {
    font-size: 20px;
    padding-left: 10px;
}

.ex-programs {
    font-size: 20px;
    padding-left: 10px;
}

.workout{
    color:#fff;
    padding-left: 10px;
}

.container-asurance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px;
}

i.fa.fas.fa-thumbs-up {
    color:#ee1cee;
}

i.fa.fas.fa-check {
    color:#28a745;
}

#info-header {
    color: #ee1cee;
    text-decoration: underline;
    font-weight: bold;
}

h3.aboutus-ender {
    text-align: center; 
    color: #ee1cee;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*-- About Us --*/
/*-- Schedule --*/

.container-schedule {
    padding-bottom: 70px;
}

.row.schedule {
    text-align: center;
    padding-top: 100px;
}

.row.header {
    font-size: 20px;
}

.jumbotron-schedule {
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    padding-bottom: 1px;
}

.main-schedule-header.px-4 {
    color:#000;
}

h3.main-schedule-header {
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container.schedule {
    margin-bottom: 120px;
}
/*-- Schedule --*/

/*-- Class Schedule Colour --*/

.row.schedule-header h4 {
    color: white;
    font-size: 18px;
}

.row.schedule-header {
   background-color: black;   
}

hr.my-auto.flex-grow-1 {
   border: 0; 
   height:5px;
   clear:both;
   display: block;
   background-color: #ee1cee;
   margin: auto;
}

.grey {
    background-color: #dae0e5; 
}

.day {
    background-color:  #ee1cee;
}

.day h3 {
color: white;
font-size: 22px;
}

.cardio {
    color:#fff;
    background-color:#49a4ecc7;
}

.burn {
    color: #fff;
    background-color: #ef5353cc;
}

.zumba {
    color: #fff;
    background-color: #ef80efbd;
}

.body {
    color: #fff;
    background-color: #5bcc75cc;
}

.strong {
    color: #fff;
    background-color: #ab6beae0;
}

.functional {
    color: #fff;
    background-color: #ff6f48d6;
}

.pump {
    color: #fff;
    background-color: #4950cc80;
}

.rev {
    color: #fff;
    background-color: #f1bb1ba1;
}

/*-- Class Schedule Colour --*/

/*-- gallery --*/

@media only screen and (min-width: 600px) {

.navbar-brand {
    font-size: 25px;
}

.container.our-mission {
    padding-top: 275px;
}

h2#workout-header {
    font-weight: bold;
}
mark {
    display: inline-block;
}

hr#top-aboutus {
    display: none
}  


.container-1 {
    padding-top: 30px;
}

html, body {
 width: auto;
 overflow-x: hidden;
}

hr.my-auto.flex-grow-1 {
    display: none;
}

.jumbotron.jumbotron-schedule {
    margin-top: 60px;
    margin-bottom: 0px;
}

.info {
    font-size: 14px;
}

h3.aboutus-ender {
    font-size: 20px;
    padding-top: 30px;    
}

.exprogram-img {
    height: 112vh;
}

}


@media(min-width:768px){
div.container.our-mission {
    padding-top: 400px;
    padding-bottom: 80px
}

hr.my-auto.flex-grow-1 {
    display: block;    
}

.main-schedule-header.px-4 {
    padding-top: 20px;
    padding-bottom: 20px
}

hr#top-aboutus {
    display: block;
}

h2.mission-header {
    font-size: 30px;
    font-weight: bold;
} 
.mission-statment {
    font-size: 20px;
    font-weight: 600;
} 

.container-rapper-aboutus {
    margin-bottom: 0;
}
.container-fluid.aboutus-image {
    margin-top: -200px;
}

h2#workout-header {
    padding-top: 70px;
    font-size: 30px;
    font-weight: bold;
}

#first-program {
    padding-top: 25px;
    font-size: 23px;
}

p.workout {
    font-size: 20px;
}

.ex-programs {
    font-size: 23px; 
}

.info {
    font-size: 16px;
}

.asurance {
    padding-top: 5px;
}

.exprogram-img {
    height: 135vh;
}

h3.aboutus-ender {
    font-size: 20px;
    padding-top: 30px;    
}

.container-1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #32383efc;
}

#gallery {
    margin: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

#gallery div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 400px;
    margin: .5vw;    
}

#gallery div img {
    width:100%;
    height: auto;
}
}

@media(min-width:980px){
    .exprogram-img {
    height: 125vh;
}
}
@media(min-width:1024px){
.container-wrapper-aboutus {
        margin-bottom: 0;
         margin-top: -50px;
}

#top-aboutus {
    border: 0; 
    height:5px;
    clear:both;
    display: block;
    width: 6%;
    background-color: #ee1cee;
    margin: auto;
    margin-top: 30px;
}

.exprogram-img {
    height: 130vh;
}
h2.mission-header {
    font-size: 35px;
}

h2#workout-header {
    font-size: 35px;
}

.container-asurance {
    padding-top: 25px;
}

h3.aboutus-ender {
    padding-top: 50px;
    padding-bottom: 0;
    font-family: "Roboto",sans-serif;
    font-size: 28px;
}

@media(min-width:1078px){
    .exprogram-img {
    height: 135vh;
}

.asurance {
    padding-top: 0px;
}
.workout {
    padding-bottom: 10px;
}

h3.aboutus-ender {
    padding-top: 35px;
}
@media(min-width:1165px){
.container-wrapper-aboutus {
    margin-bottom: 0;
    margin-top: -70px;
}

.container-asurance {
    padding-top: 20px;
}

.exprogram-img {
    height: 130vh;
}

h3.aboutus-ender {
    padding-top: 30px;
    font-size: 28px;
}
}

@media(min-width:1460px){
    .container-wrapper-aboutus {
        margin-top: -30px;
    }
}